<div class="offers">
  <div class="selectOffer">
    <select (change)="ofertaFilter($event)" >
      <option value="" selected>Selecione una opcion</option>
      <option *ngFor="let oferta of ofertas" [value]="oferta.id">{{oferta.id}}</option>
    </select>
  </div>
  <div class="labelCont"   *ngFor="let item of ofertaFiltrada" >
    <div class="labels">
      <label for="idOferta">Id Oferta</label>
      <label for="">{{item.id}}</label>
      <label for="">Nombre</label>
      <label for="">{{item.versions[0].name}}</label><br>
    </div>
    <div class="caracte">
      <app-characteristics [caracteristicas]="item"></app-characteristics>
    </div>
    <div class="price">
      <app-prices [productOffering]="item"></app-prices>
    </div>
  </div>

</div>




